doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-3.2.0-dist/css/bootstrap.min.css')
    script(src='/bootstrap-3.2.0-dist/js/boostrap.min.js')
  body
    block content
